.section-control{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.section-title{
    font-size: 36px;
    color: #374b5c;
}

.section-desc{
    font-size: 16px;
    width:50vw;
    line-height: 1.31;
    text-align: center;
    color: #374b5c;
}