
.image-section-control{
    margin: 30vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    
}

.image-name{
    font-size: 26px;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #374b5c;
}

.image-stars{
    display: flex;
    flex-direction: row;
}

.image-content{
    width: 40vw;
    font-size: 16px;
    line-height: 2.5;
    text-align: center;
    color: #374b5c;
}